* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-family: Inter, sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

/*---------------TEMPLATES---------------------------------*/
--main-color {
  color: #2b2b2b;
}

--add-color {
  color: #8b8b8b;
}


/*----------------Header---------------------------------*/

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

.header__menu a {
  text-align: center;
  color: var(--main-color);

}

.nav__menu {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  padding: 0%;
  margin: 0;
  list-style: none;
  position: relative;
}

nav a {
  display: block;
  padding: 1rem;
  color: var(--main-color);
  text-decoration: none;
  min-width: 12rem;
}

.nav__menu a:hover {
  background-color: #2b2b2b;
  color: #fff;
  transition-delay: 0.1s;
}

/* Исчезновение лишних блоков при малом разрешении */
@media screen and (max-device-width: 479px) {
  .header__nav {
    display: none;
  }

  .downdrop {
    display: block;
  }
}

@media screen and (min-device-width: 480px) {
  #down__signup {
    display: none;
  }

  #down__login {
    display: none;
  }

  #down__reminders {
    display: none;
  }
}


/*--ВЫПАДАЮЩИЙ СПИСОК-*/

.nav__downdrop {
  display: none;
  position: absolute;
  top: 100%;
  right: 1rem;
  background-color: #fff;
  z-index: 20;
  border: #2b2b2b solid 0.1rem;
}

.nav__downdrop li {
  min-width: 12rem;
  float: none;
  display: list-item;
  position: relative;
  padding: 1rem 0.5rem;
  line-height: 1rem;
}

.downdrop>a:hover {
  background-color: #fff;
}

.downdrop:hover .nav__downdrop {
  display: block;
  transition-delay: 1s;
}

/*---------------------------FOOTER--------------------------*/

footer {
  background-color: #2b2b2b;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: stretch;
  line-height: 1rem;
  padding: 0;
  margin: 0%;
  color: #8b8b8b;
}

.footer__nav ul li a {
  font-size: 0.8rem;
  text-decoration-line: none;
  display: block;
}

.footer__nav li {
  margin-left: -1rem;
}

.footer__nav a:hover {
  color: #fff;
  font-size: larger;
}