{% extends "user/base_user.html" %}

{% block title %}
  Forgot password | {{ block.super }}
{% endblock %}

{% block content %}
<div class="card mt-5">
  <div class="card-body">
    <h4 class="card-title text-center">Forgot password</h4>
    <form method="post">
      {% csrf_token %}
      <div class="card-body mx-auto" style="width: 18rem;">
        <label for="email">Email: </label>
        <input id="email" type="email" name="email" maxlength="100" required>
        {% if message %}
          <div>
            <p>{{ message }}</p>
          </div>
        {% else %}
          <div>
            <p>Enter your e-mail and we will send you a reset link</p>
          </div>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-block" style="float:right">Next</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}