{% extends "user/base_user.html" %}

{% block title %}
  Reset password | {{ block.super }}
{% endblock %}

{% block content %}
<div class="card mt-5">
  <div class="card-body">
    <h4 class="card-title text-center">Forgot password</h4>
    <form method="post">
      {% csrf_token %}
      <div class="card-body mx-auto" style="width: 18rem;">
        <input id="email" type="hidden" name="email" maxlength="100" value="{{ user_email }}" required>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password" maxlength="128" required>
        <label for="confirm_password">Confirm password: </label>
        <input id="confirm_password" type="password" name="confirm_password" maxlength="128" required>
        <button type="submit" class="btn btn-primary btn-block mt-3" style="float:right">Reset</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}