{% extends "user/base_user.html" %}

{% block title %}
  Success! | {{ block.super }}
{% endblock %}

{% block content %}
<div class="card mt-5">
  <div class="card-body">
    <h4 class="card-title text-center">Accepted</h4>
    <form method="post">
      {% csrf_token %}
      <div class="card-body mx-auto" style="width: 18rem;">
        <div>
          <p>New password has been accepted.</p>
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="float:right">Continue</button>
      </div>
    </form>

  </div>
</div>
{% endblock %}