{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>
    {% block title %}
    M.A.P.S.
    {% endblock %}
  </title>
</head>

<body>
  <div class="wrapper">
    <header .header>
      <div class="header__container container">
        <a href="#" class="header__logo"><img src="{% static 'img/logo.svg' %}" alt="M.A.P.S. logo."
            style="height: 4rem;"></a>
        <nav class="header__menu">
          <!--Все блоки будут сведены в выпадающий список при уменьшении страницы-->
          <ul class='nav__menu'>
            <!--Виден только для авторизованных пользователей-->
            <li id="header__reminders"><a href="#" class="header__nav">My Reminders</a></li>
            <!--Виден только для НЕавторизованных пользователей-->
            {% if not request.user.is_authenticated %}
            <li id="header__login"><a href="#" class="header__nav">Log In</a></li>
            <li id="header__signup"><a href="#" class="header__nav">Sign Up</a></li>
            {% endif %}
            <li>
              <!-- Выпадающий список -->
              <div class="downdrop"><a href="#" class="header__nav downdrop"><img src="{% static 'img/avatar.svg' %}"
                    alt="Dropdown menu." style="width: 2.5rem;"></a>
                <ul class="nav__downdrop">
                  <!--Виден только для НЕавторизованных пользователей-->
                  {% if not request.user.is_authenticated %}
                  <li id="down__login"><a href="#">Log In</a></li>
                  <li id="down__signup"><a href="#">Sign Up</a></li>
                  {% endif %}
                  <!--Виден только для авторизованных пользователей-->
                  {% if request.user.is_authenticated %}
                  <li id="down__reminders"><a href="#">My Reminders</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Log Out</a></li>
                  {% endif %}
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      {% block content %}
      <!-- There is not any content for you -->
      {% endblock %}
    </main>
    <footer class="footer">
      <div class="footer__container container">
        <nav>
          <ul class="footer__nav">
            <li><a href="#">© 2022 M.A.P.S. Inc. </a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Confidential</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </div>
</body>

</html>